.transWrapper {
  max-width: 800px;
  min-width: 250px;
  margin: 0 auto;
  padding: 20px 90px 40px;
}

.content {
  padding: 5px 15px;
}

.arabic {
  direction: rtl;
  font-size: 52px;
  line-height: 109px;
  margin-bottom: 14px;
  font-family: "Uthmanic";
}

.bahasa {
  font-size: 22px;
  line-height: 36px;
}

.header {
  font-size: 34px;
  line-height: 46px;
  text-align: center;
  margin-bottom: 34px;
  color: #49A3DE;
  margin-top: 24px;
  /*padding: 5px;
  color: #366185;
  background: #eff5f5;*/
}

.itemLabel {
  display: inline-block;
  padding: 0px 10px 0px 15px;
  font-family: "Lato";
  font-size: 24px;
  color: #2383C2
}

.item {
  display: inline-block;
  padding: 15px 5px 15px 5px;
  font-family: "DroidSerif";
  font-size: 34px;
}

.buttonLeft{
  position: fixed;
  bottom: 15px;
  width: 100px;
  /* right: 0px; */
  top: 110px;
}
.buttonRight{
  position: fixed;
  bottom: 15px;
  width: 70px;
  right: 16px;
  top: 110px;
}

.buttonMenu{
  position: absolute;
  left: 25px;
  top: 45px;
}

/*
.transWrapper:media( min-width: 550px ) .content {
	color: red;
}*/
