.transWrapper {
  max-width: 800px;
  min-width: 250px;
  margin: 0 auto;
  padding: 20px 90px 40px;
}

.content {
  padding: 5px 15px;

}

.arabic {
  direction: rtl;
  font-size: 52px;
  line-height: 109px;
  margin-bottom: 14px;
  font-family: "Uthmanic";
}
.bahasa {
  font-size: 22px;
  line-height: 36px;
}

.header {
  font-size: 34px;
  line-height: 46px;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 34px;
}
/*
.transWrapper:media( min-width: 550px ) .content {
	color: red;
}*/
