
.result {
  padding: 5px;
  /*background-color: #f2f2f2;*/
  /*border: 1px solid red;*/
}

.container {
  /*background-color: #F7F8FA;*/
  /*background-color: #eee;*/
  color: #364149;
  background: #fafafa;
  width: 100%;
  height: calc(100vh);
  outline: 1px solid;
  bottom: 0;
  overflow: hidden;
}
