.box {
  color: black;
  /*display: inline;*/
  margin-top: 3px;
}

.box2 {
  color: black;
  display: block;
  z-index: 3;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  position: absolute;
  width: 462px;
  background-color: #fff;
  box-shadow: 0px 3px 2px 1px rgba(0, 0, 0, 0.1);
}

.box2 ul {
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 22px;
}

.box2 li {
  padding: 0 10px;
  display: block;
  font-weight: bold;
}

.box2 li {
  padding: 0 10px;
  display: block;
  font-weight: bold;
}

.chosen {
  background-color: #eee;
}


/*.box2 li:hover {
  background-color: #eee;
}*/

.box input {
  border: none;
  border: 1px solid #b9b9b9;
  padding: 8px 8px;
  width: 450px;
  font-size: 15px;
  font-family: "Roboto-Regular"
}

.wrapper {
  width: 500px;
}

.box input:focus {
  outline: none !important;
  border: 1px solid blue;
}


.box9 {
  display: flex;
  float: right;
  font-size: 22px;
  height: 28px;
  border-radius: 0px 2px 2px 0px;
  padding: 8px 4px 0px 8px;
  background-color: #4285F4;
}

.box9:hover {
  background-color: #3B78E7;
}

.box10 {
  display: flex;
}

.item {
  margin-top: 12px;
  line-height: 34px;
  cursor: pointer;
}
.item:hover {
  /*color: rgba(0, 0, 0, 0.37);*/
  color: #4285f4;

  /*border-top: 1px solid grey;
  border-bottom: 1px solid grey;*/
  cursor: pointer;
}

grey{
  color: rgba(0, 0, 0, 0.37);

}
.itemBox {
  color: rgba(0, 0, 0, 0.87);
  margin: -8px 0px 12px 12px;
}

.transWrapper {
  margin-top: 17px;
  /*border: 1px solid black;*/
}
